---
import { SITE } from "@consts";
import Button from "@components/Button.astro";
import { Icon } from "astro-icon/components";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replace(/\/$/, "");
---

<header class="mx-auto w-full">
  <nav class="flex w-full justify-between">
    <div class="flex w-fit items-center justify-between">
      <a href="/" aria-label={SITE.TITLE} title={SITE.TITLE} class="group">
        <Icon
          name="icon"
          class="size-8 transition-transform ease-in-out group-hover:scale-105"
        />
      </a>
    </div>
    <ul class="flex w-fit flex-row items-center gap-4">
      {
        SITE.NAVLINKS.map((link) => {
          let linkHref = link.href.replace(/\/$/, "");
          const isActive = currentPath.startsWith(linkHref);
          return (
            <li class="text-tertiary hover:text-secondary focus:text-secondary font-medium capitalize transition-colors duration-300 focus:outline-hidden">
              <a
                href={link.href}
                class:list={[isActive ? "text-secondary" : null]}
              >
                {link.name}
              </a>
            </li>
          );
        })
      }
      <li>
        <Button href={`mailto:${SITE.EMAIL}`} link="Email" />
      </li>
    </ul>
  </nav>
</header>
