---
import FormattedDate from "@components/FormattedDate.astro";

type Props = {
  collection: any;
};

const { collection } = Astro.props;
---

<li>
  <a
    class="group hover:bg-tertiary/30 bg-none"
    href={`/${collection.collection}/${collection.slug}`}
  >
    <article class="flex flex-col">
      <h3 class="mb-1 font-semibold text-balance">
        <span class="text-secondary">{collection.data.title}</span><span
          class="text-tertiary group-hover:text-accent ml-2 transition-colors"
          >{collection.data.description}</span
        >
      </h3>
      <time class="text-accent block text-sm"
        ><FormattedDate date={collection.data.date} /></time
      >
    </article>
  </a>
</li>
