---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
  date?: Date;
  updated?: Date;
  tags?: Array<string>;
}

const { title, description, image, date, updated, tags } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth antialiased">
  <Head
    title={title}
    description={description}
    image={image}
    date={date}
    updated={updated}
    tags={tags}
  />
  <body
    class="flex min-h-screen flex-col justify-start bg-primary p-8 pt-0 text-secondary md:pt-8"
  >
    <Header />
    <main class="mx-auto w-full max-w-prose space-y-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
